
body{

   background-color: #122b39 ;
   max-width: 1920;
    margin: 1080;
}

footer {
   height: 100px
}

h1{

   color: rgb(219, 188, 188);
   font-family: 'Poppins', sans-serif ;
   font-size: 75px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

h2{
   color:rgb(203, 221, 224);
   font-family: 'Roboto', sans-serif;
   line-height: 0; 
   text-align: center;
}

h3{
   color: rgb(219, 188, 188);
   font-family: 'Poppins', sans-serif ;
   letter-spacing: 1.5px;
   font-size: 20px;
   line-height: 1; 
   text-transform: uppercase;
   text-align: center;
}

p{color:rgb(203, 221, 224);
   font-family: 'Roboto', sans-serif;
   line-height: 1; 
   text-align: justify;
   text-align-last: center;
   text-align: center;
   display: block;
   max-width: 960px;
}

/* Chart Format */
.chart-container {
   display: inline-block;
   flex-direction: column;
   align-items: center;
   padding-top: 70px;
   padding-bottom: 70px;
   border-radius: 5px;
   padding: 20px;
   display: inline-block;
}

/* Button Format */

.button-56, .button-1{
   align-items: center;
   margin: 10px;

}