/* CSS files can can also be used to access e.g. fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* Format my paragraph */

/* My name */

h1 {
	color: #223fe7;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 0px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif ;
}
/* First line */


h2 {
	color: #ffffff;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif ;
}

body{

    background-color: #94b4e4, ;
    max-width: 90%;
    margin: auto;
 
    animation: fadeIn ease 2s;
   -webkit-animation: fadeIn ease 2s;
   -moz-animation: fadeIn ease 2s;
   -o-animation: fadeIn ease 2s;
   -ms-animation: fadeIn ease 2s;
 }
 
 
 ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #569ac2;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 155, 155);
  }
 
 
 footer {
    height: 100px
 }
 
 
 .pagecontainer {
   display: grid;
 
 }

 .navbuttons {
	display:flex;
	justify-content:center;
	margin-bottom: 10px;
	margin-top: 10px;
 }

 h3{
    color:#5680e9;
    font-family: 'Poppins', sans-serif ;
    font-size: 20px;
    line-height: 0; 
    text-align: center;
 }
 
 
 /* --------------------------------------CONTENT IN BODY----------------------------------------------*/
 
 /* Flexbox container with home page graphs */
 .bcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    gap: 30px 30px;
    margin-top: 30px;
    border-style: solid;
    border-color:#5680e9;
    padding: 30px;
    border-radius: 25px;
  }
  
 
 /* Chart Format */
 .chart-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
 }

 /* Button style */
container {
	align-content: center;
	justify-content: center;
	flex-flow: row wrapq;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: #ffffff;
	padding: 60px;
	clear:both;

}

.button{
	align-content: center;
	flex-flow: center;
	border-radius: 4px;
	background-color: #223fe7;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 240px;
	cursor: pointer;
	margin: 5px;
	transition: color 1s;
	font-family: 'Poppins', sans-serif ;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;

  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;

  }

  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }